<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Data from MongoDB using fetchAPI</h1>
    <button onclick="fetchData()">Fetch Data</button>

</body>
<script>
    function fetchData() {
        fetch('/adminlist')
        .then(response => response.json())
        .then(data => {
            console.log(data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>
</html>