<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style-check.css') }}">
</head>
<body>
    <h1>Enter Register number</h1>
    <form method="POST" action="/checkStatus">
    <div class="box">
        <label for="id">Enter ID:</label>
        <input type="text"  name="id" placeholder="Enter register number">
        <button type="submit" id="bt" >Submit</button>
    </div>
    </form>
</body>
</html>